# SPDX-FileCopyrightText: 2021 Michael Färber
#
# SPDX-License-Identifier: MIT

[package]
name = "jaq"
version = "1.4.0"
authors = ["Michael Färber <michael.faerber@gedenkt.at>"]
edition = "2021"
license = "MIT"
readme = "../README.md"
description = "Just another JSON query tool"
repository = "https://github.com/01mf02/jaq"
keywords = ["json", "query", "jq"]
categories = ["command-line-utilities", "compilers", "parser-implementations"]
rust-version = "1.64"

[features]
default = ["mimalloc"]

[dependencies]
jaq-syn       = { version = "1.1.0", path = "../jaq-syn" }
jaq-parse     = { version = "1.0.0", path = "../jaq-parse" }
jaq-interpret = { version = "1.2.0", path = "../jaq-interpret" }
jaq-core      = { version = "1.2.0", path = "../jaq-core" }
jaq-std       = { version = "1.2.0", path = "../jaq-std" }
ariadne = "0.4.0"
atty = "0.2"
chumsky = { version = "0.9.0", default-features = false }
clap = { version = "4.0.0", features = ["derive"] }
colored_json = "3.0.1"
env_logger = { version = "0.10.0", default-features = false }
hifijson = "0.2.0"
memmap2 = "0.9"
mimalloc = { version = "0.1.29", default-features = false, optional = true }
serde_json = { version = "1.0.81", features = [ "arbitrary_precision", "preserve_order" ] }
tempfile = "3.3.0"
