html {
    font-size: 135%;
}

body {
    margin: 0;
}

.container {
    display: flex;
    max-width: 1320px;
    /* center */
    margin: 0 auto; 
}

.container > * {
    margin-left: 10px;
    margin-right: 10px;
    overflow: auto;
}

nav {
    flex: 1;
    position: sticky;
    top: 0px;
    /* necessary for scrolling inside nav */
    max-height: 100vh;
}

nav > ul {
    padding-left: 0px;
}

nav a {
    text-decoration: none;
}

section#main {
    flex: 3;
}

@media(max-width: 660px) {
    nav {
        display: none;
    }
}
